/*表格左边*/

.border-right {
    border-left: 4px solid #86ddf3;
    position: relative;
}


/*表格行*/

.tr {
    position: relative;
}


/*表格列*/

#table td {
    border-top: 0px solid #ddd;
    min-width: 75px;
}


/*第一列表格*/

.tr td:first-child {
    width: 160px;
}


/*表格中图标*/

.tr .iconfont {
    margin: 0 20px;
    font-size: 18px;
    cursor: pointer;
}

.tr .iconfont:hover {
    color: #2fbadc;
}


/*表格圆圈*/

.round {
    width: 10px;
    height: 10px;
    border-radius: 10px;
    position: absolute;
    left: -5px;
    background-color: #41a5bf;
}

.add-a,
.mod-a {
    margin: 10px 0;
    height: 35px;
    line-height: 35px;
}

.login-out{
    color: #ff4040;
}
.container{
    display: none;
    z-index: 2;
}

/*--弹窗背景样式--*/

.gray {
    width: 100%;
    height: 100%;
    background: rgba(0, 0, 0, 0.3);
    position: fixed;
    top: 0px;
    display: none;
    z-index: 1;
}


/* Header */

.large-header {
    position: relative;
    width: 100%;
    overflow: hidden;
    background-size: cover;
    background-position: center center;
    z-index: 50;
}

.main-title {
    position: absolute;
    top: 50%;
    left: 50%;
    -webkit-transform: translate3d(-50%, -50%, 0);
    transform: translate3d(-50%, -50%, 0);
}


/*登陆内容*/

.login {
    width: 380px;
    top: 150px;
    margin: 0 auto;
}

.dl-body {
    padding: 40px;
}

.dl-body .iconfont {
    font-size: 24px;
}


/*确认登陆按钮*/

.dl-submit {
    padding: 0px;
}

.land {
    width: 100%;
    height: 100%;
    padding: 15px;
    letter-spacing: 10px;
}

.reg {
    position: relative;
    top: 69px;
    left: 130px;
    margin: 0 auto;
    width: 90px;
}

input,
button {
    outline: none;
    border: none;
}

.login-wrap {
    width: 100%;
    margin: auto;
    max-width: 470px;
    min-height: 480px;
    position: relative;
    box-shadow: 0 12px 15px 0 rgba(0, 0, 0, .24), 0 17px 50px 0 rgba(0, 0, 0, .19);
}

.login-html {
    width: 100%;
    height: 100%;
    position: absolute;
    padding: 90px 70px 50px 70px;
    background: rgba(40, 57, 101, .9);
}

.login-html .sign-in-htm,
.login-html .sign-up-htm {
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    position: absolute;
    -webkit-transform: rotateY(180deg);
    transform: rotateY(180deg);
    -webkit-backface-visibility: hidden;
    backface-visibility: hidden;
    -webkit-transition: all .4s linear;
    transition: all .4s linear;
}

.login-html .sign-in,
.login-html .sign-up,
.login-form .group .check {
    display: none;
}

.login-html .tab,
.login-form .group .label,
.login-form .group .button {
    text-transform: uppercase;
}

.login-html .tab {
    font-size: 22px;
    margin-right: 15px;
    padding-bottom: 5px;
    margin: 0 15px 10px 0;
    display: inline-block;
    border-bottom: 2px solid transparent;
}

.login-html .sign-in:checked + .tab,
.login-html .sign-up:checked + .tab {
    color: #fff;
    border-color: #1161ee;
}

.login-form {
    min-height: 345px;
    position: relative;
    -webkit-perspective: 1000px;
    perspective: 1000px;
    -webkit-transform-style: preserve-3d;
    transform-style: preserve-3d;
}

.login-form .group {
    margin-bottom: 20px;
}

.login-form .group .label,
.login-form .group .input,
.login-form .group .button {
    width: 100%;
    color: #fff;
    display: block;
    text-align: left;
}

.login-form .group .input,
.login-form .group .button {
    border: none;
    padding: 12px 20px;
    border-radius: 15px;
    background: rgba(255, 255, 255, .1);
}

.login-form .group input[data-type="password"] {
    text-security: circle;
    -webkit-text-security: circle;
}

.login-form .group .label {
    color: #aaa;
    font-size: 12px;
}

.login-form .group .button {
    background: #1161ee;
    text-align: center;
}

.login-form .group label .icon {
    width: 15px;
    height: 15px;
    border-radius: 2px;
    position: relative;
    display: inline-block;
    background: rgba(255, 255, 255, .1);
}

.login-form .group label .icon:before,
.login-form .group label .icon:after {
    content: '';
    width: 10px;
    height: 2px;
    background: #fff;
    position: absolute;
    -webkit-transition: all .2s ease-in-out 0s;
    transition: all .2s ease-in-out 0s;
}

.login-form .group label .icon:before {
    left: 3px;
    width: 5px;
    bottom: 6px;
    -webkit-transform: scale(0) rotate(0);
    -ms-transform: scale(0) rotate(0);
    transform: scale(0) rotate(0);
}

.login-form .group label .icon:after {
    top: 6px;
    right: 0;
    -webkit-transform: scale(0) rotate(0);
    -ms-transform: scale(0) rotate(0);
    transform: scale(0) rotate(0);
}

.login-form .group .check:checked + label {
    color: #fff;
}

.login-form .group .check:checked + label .icon {
    background: #1161ee;
}

.login-form .group .check:checked + label .icon:before {
    -webkit-transform: scale(1) rotate(45deg);
    -ms-transform: scale(1) rotate(45deg);
    transform: scale(1) rotate(45deg);
}

.login-form .group .check:checked + label .icon:after {
    -webkit-transform: scale(1) rotate(-45deg);
    -ms-transform: scale(1) rotate(-45deg);
    transform: scale(1) rotate(-45deg);
}

.login-html .sign-in:checked + .tab + .sign-up + .tab + .login-form .sign-in-htm {
    -webkit-transform: rotate(0);
    -ms-transform: rotate(0);
    transform: rotate(0);
}

.login-html .sign-up:checked + .tab + .login-form .sign-up-htm {
    -webkit-transform: rotate(0);
    -ms-transform: rotate(0);
    transform: rotate(0);
}

.hr {
    height: 2px;
    margin: 60px 0 50px 0;
    background: rgba(255, 255, 255, .2);
}
/* 超小屏幕（手机，小于 768px） */

@media (max-width: 768px) {
    .tr td:first-child {
        width: auto;
    }
        .add-con {
        margin: 10px auto 0;
    }
    .add-a,
    .mod-a {
        height: auto;
    }
    .main-title {
        left: 10%;
    }
    .login-html {
        width: 320px;
    }
}

